@use "../base/root" as *;
@use "../abstracts/mixins" as *;

$primary: var(--blue-primary);

.container-my {
  width: min(100% - 2.5rem, 90rem);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #777;
}

.text-left {
  text-align: left;
}

.text-sm {
  font-size: 1.125rem;
}
.text-white {
  color: var(--white) !important;
}

.bg-white {
  background-color: var(--white);
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.primary-color {
  color: var($primary);
}

.text-red {
  color: var(--red-secondary);
}
